<div class="header-container__wrapper">
    <div class="header__menu">
        <div class="header__menu-wrapper">
            <div class="header__menu-wrapper-item1">
                <img class="header__menu-wrapper-item1-logo" src="img/logo_header.png" alt="logo">
            </div>
            <div class="header__menu-wrapper-lang lang-close">
                <div class="header__menu-wrapper-lang-menu">
                    <img class="header__menu-wrapper-lang-img-flag" src="img/lang.png" alt="lang">
                    ru
                    <img class="header__menu-wrapper-lang-img-change" src="img/vector.png" alt="down">
                </div>
            </div>
            <div class="header__menu-wrapper-contact">
                <div class="header__menu-wrapper-contact-mail">
                    <img src="img/mail.png" alt="mail" class="header__menu-wrapper-contact-mail-img">
                </div>
                <a class="header__menu-wrapper-contact-tel" href="tel:+74956636500">
                    <img src="img/phone.png" alt="phone" class="header__menu-wrapper-contact-tel-img">
                    +7 (495) 663-65-00
                </a>
                <div class="header__menu-wrapper-contact-mobile">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="header__menu-mobile">
                    <div class="header__menu-mobile-box">
                        <div class="header__menu-mobile-wrapper">
                            <a href="" class="header__menu-mobile-wrapper-link">Услуги
                                <img class="header__menu-mobile-wrapper-link-img" src="img/vector-nav.png" alt="vector">
                            </a>
                            <a href="" class="header__menu-mobile-wrapper-link">О холдинге</a>
                            <a href="" class="header__menu-mobile-wrapper-link">Кейсы</a>
                            <a href="" class="header__menu-mobile-wrapper-link">Медиа
                                <img class="header__menu-mobile-wrapper-link-img" src="img/vector-nav.png" alt="vector">
                            </a>
                            <a href="" class="header__menu-mobile-wrapper-link">Вакансии</a>
                            <a href="" class="header__menu-mobile-wrapper-link">Контакты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__menu-wrapper">
            <div class="header__menu-wrapper-nav">
                <a href="" class="header__menu-wrapper-nav-link">Услуги
                    <img class="header__menu-wrapper-nav-link-img" src="img/vector-nav.png" alt="vector">
                </a>
                <a href="" class="header__menu-wrapper-nav-link">О холдинге</a>
                <a href="" class="header__menu-wrapper-nav-link">Кейсы</a>
                <a href="" class="header__menu-wrapper-nav-link">Медиа
                    <img class="header__menu-wrapper-nav-link-img" src="img/vector-nav.png" alt="vector">
                </a>
                <a href="" class="header__menu-wrapper-nav-link">Вакансии</a>
                <a href="" class="header__menu-wrapper-nav-link">Контакты</a>
            </div>
            <div class="header__menu-wrapper-sub">
                <div class="header__menu-wrapper-sub-box">
                    <div class="header__menu-wrapper-sub-box-resume">
                        <span>Отправить резюме</span>
                    </div>
                    <div class="header__menu-wrapper-sub-box-project">
                        Обсудить проект
                        <img class="header__menu-wrapper-sub-box-project-img" src="img/project.png" alt="project">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>